services:
  ai_agents_platform:
    container_name: ai-agents-platform
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    build:
      context: .
      dockerfile: ./docker/golang.Dockerfile
    restart: "on-failure"
    ports:
      - "3000:3000"
    env_file:
      - src/.env
    volumes:
      - ./data/storages:/app/storages
      - ./data/media:/app/statics/media